body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* min-height: 100%; */
  font-family: "Arial", sans-serif;
  height: 100vh;
  background-color: black;
}
.main {
  /* height: 963px; */
  width: calc(100%-8px);
  padding: 8px;
  display: flex;
  flex: 1;
}
.inMain {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 72px;
  grid-template-areas:
    "eins zwei"
    "drei drei";
  grid-gap: 8px;
}
.sidebar {
  max-width: 100%;
  min-width: 15%;
  display: flex;
  flex-direction: column;
  height: 100%;
  resize: horizontal;
  grid-area: eins;
}
.sidebar:hover ::-webkit-scrollbar-thumb {
  background: #ffffff12;
  -webkit-transition: 1s;
  -webkit-transition-delay: 1s;
}
.topSidebar {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  background-color: #121212;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 8px 12px;
  border-radius: 8px;
}
.homeButton,
.searchButton,
.yourLibraryButton {
  background-color: transparent;
  color: #a7a7a7;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: calc(100% - 10px);
  overflow: hidden;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.homeButton:hover,
.searchButton:hover,
.yourLibraryButton:hover {
  color: white;
}
.bottomSidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #121212;
  border-radius: 8px;
}
.sidebar1 {
  padding: 8px 16px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  gap: 9px;
}
.playlistButton, .createPlaylistButton, .extendSidebarButton {
  background-color: transparent;
  color: white;
  border: none;
  display: flex;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
  border-radius: 6px;
  padding: 8px;
  flex-direction: row;
  column-gap: 12px;
  justify-content: left;
  align-items: center;
}
.playlistButton:focus,
.createPlaylistButton:focus,
.extendSidebarButton:focus  {
  background-color: #282828;
}

.sidebar-button:hover,
.createPlaylistButton:hover,
.extendSidebarButton:hover,
.playlistButton:hover {
  background-color: #282828;
}
.sidebar2 {
  width: 420px;
  height: 48px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoriesInSidebar {
  color: white;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #ffffff12;
  height: 32px;
  padding: 4px 12px;
  width: 100%;
  justify-content: center;
  border-radius: 50px;
  margin-right: 8px;
}
.categoriesInSidebar:hover {
  background-color: #ffffff1a;
}
.divThatAddsPadding{
  padding: 0 2px 2px 0;
  max-height: 630px;
}
.sidebar3 {
  padding: 0 8px 8px;
  height: calc(100% - 6px);
  background-color: transparent;
  overflow-y: overlay;
  position: relative;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: calc(100%-8px);
  min-width: calc(100%)-8px;
  z-index: 1;
}
.playlistSearchBar {
  display: flex;
  flex-direction: row;
  height: 32px;
  padding: 2px 4px 0 8px;
  justify-content: space-between;
}
.playlistSearchButton {
  background-color: transparent;
  color: #ffffffa1;
  border: none;
  display: flex;
  border-radius: 50px;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: left;
  justify-items: left;
  transition: 0.2s;
  cursor: pointer;
}
.playlistSearchButton:focus {
  width: 188px;
  background-color: #ffffff12;
  border-radius: 6px;
  cursor: text;
  content: "123";
}
.playlistSearchButton:hover {
  background-color: #ffffff12;
}
.sidebar-icon {
  font-size: 18px;
  margin-right: 10px;
  margin-left: 5px;
}
.sidebar-text {
  font-size: 14px;
  overflow: hidden;
}
.recentButton {
  background-color: transparent;
  color: #ffffffa1;
  border: none;
  text-align: center; 
  display: flex;
  align-items: center;
  cursor: pointer;
  width: calc(100% - 10px);
  overflow: hidden; 
  border-radius: 8px;
  background-color: transparent;
  height: 32px;
  border-radius: 50px;
  padding: 4px 12px 4px 16px;
  width: auto;
  justify-content: right;
  font-size: 14px;
  transition: 0.07s;
}
.recentButton:hover {
  color: white;
  font-size: 15px;
}
.playlistItem{
  width: calc(100% + 5px);
  height: 64px;
}
.playlistImage {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}
.playlistInformation {
  display: flex;
  flex-direction: column;
}
.playlistName {
  display: flex;
  font-size: 14px;
  height: 22px;
  align-items: center;
}
.playlistCreator {
  display: flex;
  font-size: 12px;
  color: #ffffffa1;
  height: 20px;
  align-items: center;
}
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 8px;
  grid-area: zwei;
}
.content:hover::-webkit-scrollbar-thumb {
  background-color: white;
  position: absolute;
}
.upperContent {
  background: linear-gradient(to bottom, #523ca0, #2a1e51);
  border-radius: 8px 8px 0 0;
}
.goPageBackButton,
.goPageFrontButton {
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: calc(100% - 10px);
  overflow: hidden;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  justify-content: center;
}
.installAppButton {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s ease;
  justify-content: center;
  display: flex;
  align-content: center;
  flex-direction: row;
  height: 32px;
  width: 118px;
  border: 0px;
  border-radius: 50px;
  background-color: #0000008a;
}
.installAppButton:hover {
  transform: scale(1.05);
}
.bellButton {
  cursor: pointer;
  height: 32px;
  width: 32px;
  border: 0px;
  border-radius: 50px;
  background-color: #0000008a;
  color: white;
}
.bellButton:hover {
  transform: scale(1.1);
}
.fa-bell:hover {
  cursor: pointer;
}
.accountButton {
  height: 32px;
  width: 32px;
  border-radius: 50px;
  background-color: #509bf5;
  color: black;
  cursor: pointer;
  border: solid 4px #241a46;
  display: flex;
  align-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column  ;
}
.accountButton:hover {
  transform: scale(1.05);
  border: solid 4px black;
}
.accountButton:focus .accountMenu {
  display: block;
}
.accountMenu {
  margin-top: 17px;
  padding: 4px;
  width: calc(196px - 8px);
  height: calc(168px - 8px);
  background-color: #282828;
  color: hsla(0,0%,100%,.9);
  margin-left: -160px;
  border-radius: 5px;
  display: none;
  box-shadow: 0 16px 24px rgba(0,0,0,.3),0 6px 8px rgba(0,0,0,.2) 
}
.menuItem{
  display: flex;
  justify-content: left;
  margin: 0px;
  padding: 12px 8px 12px 12px;
  height: calc(40px - 24px);
}

.row {
  color: white;
  margin-bottom: 0px;
  display: flex;
  height: 256px;
  align-items: center;
}
.fa-heart {
  padding: 0 8px;
}
.heartIcon {
  color: #1ed760;
}
.heartIcon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transform-origin: center;
}
.heart {
  background: linear-gradient(to bottom right, #4000f5, #c1ecd8);
  width: 232px;
  height: 232px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 4px;
  box-shadow: 0 4px 60px rgba(0,0,0,.5);
}
.tableItem > .heartIcon {
  margin-right: 12px;
}
.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 75vh;
}
.middleContent {
  padding: 24px;
  background: linear-gradient(to bottom, #221940, #1a152c);
}
.playButton {
  background-color: #1ed760;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
.playButton:hover{
  transform: scale(1.05);
}

.play-icon {
  color: #000000;
}
.listButton {
  width: auto;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  height: 32px;
  gap: 8px;
  padding: 0 8px;
  font-size: 14px;
  cursor: pointer;
  color: #a7a7a7;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}
.listButton:hover {
  color: white;
}
.lowerContent {
  padding: 0 24px 24px 24px;
  height: 100%;
  border-radius: 0 0 8px 8px;
  background: linear-gradient(to bottom, #1a152c, #121212);
}
.tableTitleRow {
  display: grid;
  grid-template-columns: 16px 38.077% 25.3858% 19.0402% 120px;
  grid-template-rows: 1fr;
  padding: 0 16px;
  width: calc(100% - 34px);
  font-size: 14px;
  height: 36px;
  grid-gap: 16px;
  margin-bottom: 14.5px;
  color: #a7a7a7;
  border-color: red;
}
.tableItem {
  display: flex;
  justify-content: left;
  align-items: center;
}
#songImage{
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 4px;
}
.gross {
  font-size: 16px;
  color: white;
}
.tableRow {
  display: grid;
  grid-template-columns: 16px 38.077% 25.3858% 19.0402% 120px;
  grid-template-rows: 1fr;
  padding: 0 16px;
  width: calc(100% - 34px);
  height: 56px;
  grid-gap: 16px;
  font-size: 14px;
  border-radius: 6px;
  color: #ffffffa1;
}
.tableRow:hover {
  background-color: #ffffff1a;
  color: white;
}
.tableRow:hover .numberIntoIcon:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  margin-right: -2px;
  border-bottom: 6px solid transparent;
  border-left: 10px solid #ffffffa1;
}

.number1::after {
  content: "1";
}
.number2::after {
  content: "2";
}
.number3::after {
  content: "3";
}
.number4::after {
  content: "4";
}
.number5::after {
  content: "5";
}
.number6::after {
  content: "6";
}
.dateAdded {
  color: #ffffffa1;
}
.lengh {
  color: #ffffffa1;
}
.tableText:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer {
  color: white;
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  flex: 5;
  z-index: 10;
  background-color: black;
  height: 72px;
  padding: 0 8px 8px 0;
  border: 0px;
  grid-area: drei;
}
.footerSong {
  height: 61px;
  display: flex;
  align-items: center;
  width: 30%;
}
.footerSongImage{
  padding: 8px;
  border-radius: 12px;
  height: 56px;
  width: 56px;
  border: 0px;
  background-color: transparent;
  display: none;
}
.footerSongName:hover,
.footerSongAuthor:hover {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}
.footerPlayer {
  height: 57px;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.playerButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 32px;
  margin-bottom: 8px;
}
.playerButton {
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
  color: white;
  width: 10%;
  padding: 10px;
  justify-content: center;
  margin: 0px;
  background-color: transparent;
}
.playerButton:hover .fa-step-backward,
.playerButton:hover .fa-step-forward {
  color: white;
}
.fa-step-backward,
.fa-step-forward {
  color: grey;
  font-size: large;
}
.controlBtn {
  border: none;
  display: flex;
  background-color: white;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  color: black;
  cursor: pointer;
}

.controlBtn:hover {
  transform: scale(1.1);
}
.fa-play {
  margin-left: 3px;
  font-size: medium;
}
.fa-pause {
  font-size: medium;
}
.playerSongLength {
  height: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}
.songProgress {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.songTime {
  color: #a7a7a7;
  display: flex;
  font-size: 12px;
  width: 40px;
}
.progressBar2 {
  background-color: transparent;
  cursor: pointer;
  height: 12px;
  width: calc(100% - 100px);
  display: flex;
  align-items: center;
}
.progressBar2:hover .progressedBar {
  background-color: #1ed760;
}
.progressBar2:hover .progressedBar::after {
  display: block;
}
.progressBar {
  width: 100%;
  height: 4px;
  border-radius: 50px;
  background-color: hsla(0, 0%, 100%, 0.3);
}
.progressedBar {
  background-color: #fff;
  width: 0%;
  height: 4px;
  border-radius: 50px;
  position: relative;
}
.progressedBar::after {
  content: "";
  display: none;
  position: absolute;
  right: -5px;
  top: -4px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: white;
}
.footerSettings {
  height: 32px;
  width: 30%;
  display: flex;
  align-content: center;
  justify-content: right;
}
#playerControls {
  display: flex;
  align-items: center;
}
.volumeIcon {
  width: 32px;
  height: 32px;
  display: flex;
  color: #a7a7a7;
  align-items: center;
  justify-content: center;
}
.volumeIcon:hover {
  color: white;
  cursor: pointer;
}
.volumeBar {
  width: 150px;
  height: 15px;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  align-content: center;
  align-items: center;
}
.volumeRange {
  height: 4px;
  width: 150px;
  background-color: grey;
  border-radius: 50px;
}
.volumedRange {
  width: 25%;
  position: relative;
  background-color: white;
  height: 100%;
  border-radius: 50px;
}
.volumedRange::after {
  content: "";
  display: none;
  position: absolute;
  right: -5px;
  top: -4px;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: white;
}
.volumedRange.showAfter::after {
  content: ""; 
  display: block; 
}
.volumeBar:hover .volumedRange::after {
  display: block;
}
.volumeBar:hover {
  cursor: pointer;
}
.volumeBar:hover .volumedRange {
  background-color: #1ed760;
}
.fullScreen {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a7a7a7;
}
.fullScreen:hover {
  color: white;
  cursor: pointer;
}








::-webkit-scrollbar {
  background-color: transparent;
  padding: 0px;
  margin-right: 12px;
  width: 12px;
  z-index: 4;
}